body {
   font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center; /* Centrar horizontal */
  align-items: center;    /* Centrar vertical */
  background: #0dbaff;
  background: linear-gradient(90deg,rgba(13, 186, 255, 1) 0%, rgba(185, 227, 244, 1) 29%, rgba(240, 240, 240, 1) 64%, rgba(83, 178, 237, 1) 100%);
}

/* Contenedor del formulario */
form {
  background: rgba(255, 255, 255, 0.8); /* Transparencia */
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  width: 350px;
}

/* Título */
h2 {
 
  margin-bottom: 20px;
  color: #2c3e50;
}

/* Inputs */
input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* Botón */
button {
  width: 100%;
  padding: 12px;
  cursor: pointer;
  background: #3498db;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  transition: 0.3s;
}

button:hover {
  background: #2980b9;
}

/* Mensajes */
.error {
  color: red;
  font-size: 14px;
}

.ok {
  color: green;
  font-size: 14px;
}